/*                KEY POSITIONS

  ╭─────────────────────╮ ╭─────────────────────╮
  │ LT4 LT3 LT2 LT1 LT0 │ │ RT0 RT1 RT2 RT3 RT4 │
  │ LM4 LM3 LM2 LM1 LM0 │ │ RM0 RM1 RM2 RM3 RM4 │
  │ LB4 LB3 LB2 LB1 LB0 │ │ RB0 RB1 RB2 RB3 RB4 │
  ╰───────╮ LH2 LH1 LH0 │ │ RH0 RH1 RH2 ╭───────╯
          ╰─────────────╯ ╰─────────────╯ */

#undef COMBO_TERM
#define COMBO_TERM 40
#define COMBO_IDLE 50

#define COMBO_TERM_FAST 25
#define COMBO_IDLE_FAST 70

#define COMBO_TERM_SLOW 75
#define COMBO_IDLE_SLOW 50

ZMK_COMBO(capsword,  &caps_word,  LM1 RM1, DEF, COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(sys,       &mo SYS,     LH2 RH2, DEF, COMBO_TERM, COMBO_IDLE)
/* ZMK_COMBO(fun,       &mo FUN,     LH1 RH1, DEF, COMBO_TERM) */

ZMK_COMBO(del,   &kp DEL, LT4 LT3, DEF, COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(q,     &kp Q,   LT3 LT2, DEF, COMBO_TERM)
ZMK_COMBO(z,     &kp Z,   LT2 LT1, DEF, COMBO_TERM)

ZMK_COMBO(caret, &kp CARET, RT1 RT2, DEF, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(at,    &kp AT,    RT2 RT3, DEF, COMBO_TERM_FAST, COMBO_IDLE_FAST)

ZMK_COMBO(fcitx,  &kp LC(LA(J)),LM3 LM1, DEF, COMBO_TERM_SLOW)
ZMK_COMBO(percent,&kp PERCENT,  RM1 RM3, DEF, COMBO_TERM)

ZMK_COMBO(vpipe,  &kp PIPE,  LM1 LT1,  DEF, COMBO_TERM_SLOW)
ZMK_COMBO(vbslh,  &kp BSLH,  LM2 LT2,  DEF, COMBO_TERM_SLOW)
ZMK_COMBO(vastrk, &kp ASTRK, RM1 RT1,  DEF, COMBO_TERM_SLOW)
ZMK_COMBO(vamps,  &kp AMPS,  RM2 RT2,  DEF, COMBO_TERM_SLOW)

ZMK_COMBO(vrpar,  &kp RPAR,  RM3 RB3,  DEF, COMBO_TERM_SLOW)
ZMK_COMBO(vrbrc,  &kp RBRC,  RM2 RB2,  DEF, COMBO_TERM_SLOW)
ZMK_COMBO(vrbkt,  &kp RBKT,  RM1 RB1,  DEF, COMBO_TERM_SLOW)

// Tap: copy | double-tap: cut.
ZMK_TAP_DANCE(copy_cut, bindings = <&kp LC(INSERT)>, <&kp LC(X)>;
              tapping-term-ms = <200>;)

/* ZMK_COMBO(cc,    &copy_cut,     LB3 LB2, DEF, COMBO_TERM) */
/* ZMK_COMBO(paste, &kp LS(INSERT), LB2 LB1, DEF, COMBO_TERM) */
/* ZMK_COMBO(undo,    &kp LC(Z),      LT1 LT0, DEF, COMBO_TERM_SLOW) */

ZMK_COMBO(copy,  &kp K_COPY,  LB3 LB2, DEF, COMBO_TERM)
ZMK_COMBO(paste, &kp K_PASTE, LB2 LB1, DEF, COMBO_TERM)
ZMK_COMBO(undo,  &kp K_UNDO,  LM1 LM0, DEF, COMBO_TERM_SLOW)
ZMK_COMBO(redo,  &kp K_REDO,  LT1 LT0, DEF, COMBO_TERM_SLOW)

/* Thumbs Combos */
ZMK_COMBO(tilde, &kp TILDE, LM4 LH1,  DEF, COMBO_TERM)
ZMK_COMBO(grave, &kp GRAVE, RM4 RH1,  DEF, COMBO_TERM)

ZMK_COMBO(rpar,  &kp RPAR,  RM3 LH1,  DEF, COMBO_TERM_FAST)
ZMK_COMBO(rbrc,  &kp RBRC,  RM2 LH1,  DEF, COMBO_TERM_FAST)
ZMK_COMBO(rbkt,  &kp RBKT,  RM1 LH1,  DEF, COMBO_TERM_FAST)

/* ZMK_COMBO(lpar,  &kp LPAR,  LM3 LH1,  DEF, COMBO_TERM) */
/* ZMK_COMBO(lbrc,  &kp LBRC,  LM2 LH1,  DEF, COMBO_TERM) */
/* ZMK_COMBO(lbkt,  &kp LBKT,  LM1 LH1,  DEF, COMBO_TERM) */
ZMK_COMBO(lpar,  &mtanav 0 LPAR,  LM3 LH1,  DEF, COMBO_TERM)
ZMK_COMBO(lbrc,  &mtcnav 0 LBRC,  LM2 LH1,  DEF, COMBO_TERM)
ZMK_COMBO(lbkt,  &mtsnav 0 LBKT,  LM1 LH1,  DEF, COMBO_TERM)

ZMK_COMBO(dollar, &kp DOLLAR,   RM3 RH1,  DEF, COMBO_TERM)
ZMK_COMBO(hash,   &kp HASH,   RM2 RH1,  DEF, COMBO_TERM)
ZMK_COMBO(excl,   &kp EXCL,   RM1 RH1,  DEF, COMBO_TERM)
 
ZMK_COMBO(0, &kp N0,  LM4 RH1,  DEF, COMBO_TERM)
ZMK_COMBO(a0,&lt FUN N0,LH1 RH1,DEF, COMBO_TERM_FAST)
ZMK_COMBO(1, &kp N1,  LM3 RH1,  DEF, COMBO_TERM)
ZMK_COMBO(2, &kp N2,  LM2 RH1,  DEF, COMBO_TERM)
ZMK_COMBO(3, &kp N3,  LM1 RH1,  DEF, COMBO_TERM)
ZMK_COMBO(4, &kp N4,  LT3 RH1,  DEF, COMBO_TERM)
ZMK_COMBO(5, &kp N5,  LT2 RH1,  DEF, COMBO_TERM)
ZMK_COMBO(6, &kp N6,  LT1 RH1,  DEF, COMBO_TERM)
ZMK_COMBO(7, &kp N7,  LB3 RH1,  DEF, COMBO_TERM)
ZMK_COMBO(8, &kp N8,  LB2 RH1,  DEF, COMBO_TERM)
ZMK_COMBO(9, &kp N9,  LB1 RH1,  DEF, COMBO_TERM)
